<!--<h1>{{text}}</h1>-->

<!--<h1 *ngIf="condition">Hello world!</h1>-->
<h1 *ngIf="condition;else bye">Hello world!</h1>
<!--<h1 *ngIf="!condition">Bye world!</h1>-->
<ng-template #bye>
  <h1>Bye world!</h1>
</ng-template>
<button (click)="toggle()">Toggle</button>
<ul>
  <li *ngFor="let item of items">
    {{item}}
  </li>
</ul>

<!--<app-second-child-component></app-second-child-component>-->
<!--<app-second-child-component><h2>test-{{name}}</h2></app-second-child-component>-->
<app-second-child-component [userName]="name" [userAge]="age"><h2>test-{{name}}</h2></app-second-child-component>
<app-my-component-in-my-model></app-my-component-in-my-model>

<!--<input type="text" value="123">-->
<!--<input type="text" value="{{initialInputValue}}">-->
<input type="text" [value]="initialInputValue">

<p [textContent]="name"></p>
<p textContent="Tom"></p>
<p>{{name}}</p>

<p>Кількість кліків {{count}}</p>
<button (click)="increase2($event)">Click</button>

<p>Привіт {{name}}</p>
<input type="text" [(ngModel)]="name"/> <br><br>
<input type="text" [(ngModel)]="name"/>
<br><br>
<input type="number" [(ngModel)]="age" />
